@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  
  /* Основные цвета */
  --primary: #6CBB4C; /* primary-green */
  --primary-light: #E0F3D9; /* primary-light-green */
  --secondary: #02150E; /* secondary-dark */
  --secondary-transparent: rgba(2, 21, 14, 0.2); /* secondary-dark с opacity 0.2 */
  
  /* Системные цвета */
  --background: #FFFFFF;
  --foreground: var(--secondary);
  --card: #FFFFFF;
  --card-foreground: var(--secondary);
  --popover: #FFFFFF;
  --popover-foreground: var(--secondary);
  --primary-foreground: #FFFFFF;
  --secondary-foreground: #FFFFFF;
  --muted: var(--primary-light);
  --muted-foreground: var(--secondary);
  --accent: var(--primary-light);
  --accent-foreground: var(--secondary);
  --destructive: #FF4444;
  --border: var(--primary-light);
  --input: var(--primary-light);
  --ring: var(--primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground text-[1.125rem];
  }
}

@layer components {
  .container-custom {
    @apply mx-auto box-content max-w-[1200px] px-5 w-full;
  }
}

/* Features Section Styles */
.features-section {
  background-color: var(--primary-light);
  padding-top: 150px;
  padding-bottom: 50px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.feature-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.feature-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-light);
}

.feature-title {
  font-size: 25px;
  font-weight: 600;
}

.text-primary {
  color: var(--primary);
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.max-w-535 {
  max-width: 535px;
}
